:root {
    --bg: #f3f2ef;
    --text: #000;
    --card: #fff;
}

[data-theme="dark"] {
    --bg: #181818;
    --text: #fff;
    --card: #242424;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #0073b1;
    color: white;
}

.nav-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* CONTAINER */
.container {
    padding: 20px;
}

/* CARD */
.card {
    background: var(--card);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* BUTTON */
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary { background: #0073b1; color: white; }
.btn-success { background: green; color: white; }

/* CHATBOT */
.chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0073b1;
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.chatbox {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.hidden { display: none; }

.user { text-align: right; color: blue; }
.bot { text-align: left; color: green; }






