{% extends "layout.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<div class="grid">

    <div class="card">
        <h3>Total Users</h3>
        <h2>{{ total_users }}</h2>
    </div>

    <div class="card">
        <h3>Recruiters</h3>
        <h2>{{ recruiters }}</h2>
    </div>

    <div class="card">
        <h3>Job Seekers</h3>
        <h2>{{ jobseekers }}</h2>
    </div>

    <div class="card">
        <h3>Total Jobs</h3>
        <h2>{{ jobs }}</h2>
    </div>

    <div class="card">
        <h3>Total Applications</h3>
        <h2>{{ applications }}</h2>
    </div>

</div>

{% endblock %}