{% extends "layout.html" %}
{% block content %}


<h1>Recommended Jobs</h1>

{% if recommended %}
    {% for job in recommended %}
    <div class="card highlight">
        <h3>{{ job.title }}</h3>
        <p><b>Company:</b> {{ job.company }}</p>
        <p><b>Skills:</b> {{ job.skills }}</p>
        <p><b>Location:</b> {{ job.location }}</p>

        {% if job.id in current_user_app_ids %}
            <button class="btn success" disabled>Applied</button>
        {% else %}
            <a href="/apply/{{ job.id }}" class="btn primary">Apply</a>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <p>No recommendations yet. Upload resume to get AI suggestions.</p>
{% endif %}


<hr>


<h1>All Jobs</h1>

{% for job in all_jobs %}
<div class="card">
    <h3>{{ job[1] }}</h3>
    <p><b>Company:</b> {{ job[2] }}</p>
    <p><b>Skills:</b> {{ job[3] }}</p>
    <p><b>Location:</b> {{ job[5] }}</p>

    {% if job[0] in current_user_app_ids %}
        <button class="btn success" disabled>Applied</button>
    {% else %}
        <a href="/apply/{{ job[0] }}" class="btn primary">Apply</a>
    {% endif %}
</div>
{% endfor %}


{% endblock %}


