{% extends "layout.html" %}
{% block content %}

<h2>Welcome, {{ current_user.name }}</h2>
<p class="text-muted">Your career hub</p>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>📄 Upload Resume</h5>
            <a href="/upload-resume" class="btn btn-primary">Upload</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Jobs</h5>
            <a href="/jobs" class="btn btn-success">View Jobs</a>
            <!-- <a href="/recommended-jobs" class="btn btn-success">View</a> -->
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>📊 Resume Score</h5>
            <a href="/resume-score" class="btn btn-warning">Check</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>🎯 Interview Prep</h5>
            <a href="/interview-prep" class="btn btn-dark">Start</a>
        </div>
    </div>

</div>

<div class="row mt-4">

    <div class="col-md-6">
        <div class="card p-3 text-center">
            <h5>💼 Browse Jobs</h5>
            <a href="/jobs" class="btn btn-primary">Browse</a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-3 text-center">
            <h5>📌 My Applications</h5>
            <a href="/my-applications" class="btn btn-success">View Status</a>
        </div>
    </div>

</div>

{% endblock %}