{% extends "layout.html" %}
{% block content %}

<h2>MCQ Interview Practice</h2>

<form method="POST">

    {% for q in questions %}
    <div class="card">
        <p><b>{{ loop.index }}. {{ q.question }}</b></p>

        {% for opt in q.options %}
            <label>
                <input type="radio" name="q{{ loop.parent.index0 }}" value="{{ opt }}">
                {{ opt }}
            </label><br>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn success">Submit</button>

</form>

{% endblock %}